{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>B.UPHOLSTERY FURNITURE</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <link rel="stylesheet" href="https://cdn.{% static 'jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css'%}" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
<!--
	Venue Template
	http://www.templatemo.com/tm-522-venue
--> <style>
            .imgs
{

  background-image: url('{%static "assets/img/background.jpg" %}');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.btns:hover {
  background-color: #e6e6e6;
  border-radius: 15px;
}

.btnscolor{
  background-color: blue;
}


.btns {
  transition-duration: 0.4s;
}

    </style>
    </head>


<body>

    <div class="wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="index.html"><div class="logo">
                            <img style="width: 470px; height: 100px" src="{% static 'img/logo.png' %}" alt="Venue Logo">
                        </div></a>
                        <nav id="primary-nav" class="dropdown cf">
                            <ul class="dropdown menu">
                                <li class='active'><a href="/"</a>Home</li>
                                <li><a class="scrollTo" data-scrollTo="category" href="#">Category</a></li>
                                <li><a class="scrollTo" data-scrollTo="services" href="#">Our Services</a></li>
                                <li><a class="scrollTo" data-scrollTo="contact" href="#">Contact Us</a></li>
                            </ul>
                        </nav><!-- / #primary-nav -->
                    </div>
                </div>
            </div>
        </header>
    </div>



    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <h2>Best Home Furniture For You</h2>
                        <span>Browse Our Website and see different different Amazing Product.</span>
                    </div>

                </div>
            </div>
        </div>
    </section>

<br><br><br>

<!-- Page Content -->
   <div class="container" id="category">
   <center style="font-size:35px; color:#23527c">Category</center><br><br>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="sofa" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/pic1.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Sofa</h3>
                <p class="card-text">82 listing</p>
              </div>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="wardrobs" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/wardrobe.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Wardrobs</h3>
                <p class="card-text">18 listing</p>
              </div>
            </div>
             </a>
          </div>

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="beds" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/beds.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Beds</h3>
                <p class="card-text">55 listing</p>
              </div>
            </div>
             </a>
          </div>

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="chest" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/chest.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Chest of Drawer</h3>
                <p class="card-text">66 listing</p>
              </div>
            </div>
             </a>
          </div>

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="dining" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/dining.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Dining Table</h3>
                <p class="card-text">82 listing</p>
              </div>
            </div>
             </a>
          </div>

          <div class="col-lg-4 col-md-5 mb-4">
          <a href="dressing" style="color:#23527c">
            <div class="card h-100 btns" style="border-radius: 15px; background-color:#e6e6e6">
              <img class="card-img-top" style="border-radius: 15px;" src="{% static 'img/dressing.jpg' %}" alt="">
              <div class="card-body">
                <h3 class="card-title">Dressing Table</h3>
                <p class="card-text">34 listing</p>
              </div>
            </div>
             </a>
          </div>




        </div> <!-- /.row -->
      </div><!-- /.col-lg-9 -->
    </div><!-- /.row -->
  </div>
<!-- Page Content End -->



    <section class="our-services" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span style="font-size:35px; color:#23527c">Our Services</span>
                        <h2>Our Best Work Here</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item" style="border-radius: 15px; background-color:#e6e6e6">
                        <div class="icon">
                            <img src="{% static 'img/service_icon_1.png'%}" alt="">
                        </div>
                        <h4>High Quality Design</h4>
                        <p>Etiam viverra nibh at lorem hendrerit porta non nec ligula. Donec hendrerit porttitor pretium. Suspendisse fermentum nec risus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item" style="border-radius: 15px; background-color:#e6e6e6">
                        <div class="icon">
                            <img src="{% static 'img/service_icon_2.png'%}" alt="">
                        </div>
                        <h4>Fully Customizable</h4>
                        <p>Vivamus nec vehicula felis, sit amet convallis ex. Aenean dolor risus, rutrum at tincidunt eget, placerat ac mauris.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item" style="border-radius: 15px; background-color:#e6e6e6">
                        <div class="icon">
                            <img src="{% static 'img/service_icon_3.png'%}" alt="">
                        </div>
                        <h4>Best HTML CSS Layout</h4>
                        <p>Praesent nec dui sed urna pharetra dapibus at ac elit. Aenean hendrerit metus leo, quis viverra purus condimentum nec.</p>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="contact" id="contact">

        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrapper">
                  <div class="section-heading">
                      <span style="font-size: 70px; color:#23527c">Contact Us</span><br>
                      <h2>Get in touch with our best Associates</h2>
                  </div>
                  <!-- Modal button -->
                  <button id="modBtn" class="modal-btn">Talk to us</button>
                </div>
                <div id="modal" class="modal">
                  <!-- Modal Content -->
                  <div class="modal-content">
                    <div class="close fa fa-close"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="left-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-heading">
                                            <span>Talk To Us</span>
                                            <h2>Let's have a discussion</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <form method="post" action="/">
                                     {% csrf_token %}
                                      <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                      </fieldset>
                                    </div>
                                     <div class="col-md-6">
                                      <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                      </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                      <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                      </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                      <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                                      </fieldset>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="right-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content">
                                            <div class="section-heading">
                                                <span>More About Us</span>
                                                <h2>B.UPHOLSTERY Furniture</h2>
                                            </div>
                                            <p>This website is about Home living Furniture shop. You can browse all Furniture products and be contact with our best Associates.</p>
                                            <ul>
                                                <li><span>Phone:</span><a href="#">(44)(0)75 7710 7206</a></li>
                                                <li><span>Email:</span><a href="#">Bupholstery22@gmail.com</a></li>
                                                <li><span>Address:</span><a href="#">87-89, Plashet Road, London E13 0RA</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-veno">
                        <div class="logo">
                            <img src="{% static 'img/logo.png'%}" alt="Venue Logo">
                        </div>
                        <p>This website is about Home living Furniture shop. You can browse all Furniture products and be contact with our best Associates. </p>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="useful-links">
                        <div class="footer-heading">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>Register</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>Login</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>My Profile</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>How It Works?</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>More About Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="#"><i class="fa fa-stop"></i>Our Clients</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>Partnerships</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>Blog Entries</a></li>
                                    <li><a href="#"><i class="fa fa-stop"></i>Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-info">
                        <div class="footer-heading">
                            <h4>Contact Information</h4>
                        </div>
                        <p>Please here is some useful information about, How to contact us because it is easy for you to buy products.</p>
                        <ul>
                            <li><span>Phone:</span><a href="#">(44)(0)75 7710 7260</a></li>
                            <li><span>Email:</span><a href="#"></a>Bupholstery22@gmail.com</li>
                            <li><span>Address:</span><a href="#"></a>87-89, Plashet Road, London E13 0RA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <p>Copyright &copy; 2020 B.UPHOLSTERY Furniture

    	- Design: <a rel="nofollow" href="http://www.templatemo.com">Star Developers</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js'%}"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>

    <script src="{% static 'js/datepicker.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>